
@{
    ViewData["Title"] = "About";
}

<h3 class="text-center">ABOUT OUR CUSTOM PAPER WRITING SERVICE</h3>
<p>
    The aim of this section about us is intended to provide all the information you need about our writing service and our reputable company.
    It tells you about our goals and our values.
    First, welcome! 123HelpMe.org is a professional writing service, founded to help young people and students with their written work.
    Working with us, you can relax and spend your spare time as you wish rather than working through the night to complete your coursework.
    We established our writing, proofreading and editing services to accommodate students in every part of the world.
    So, far, our help has proved invaluable to countless students in terms of completing their assignments successfully and achieving top grades.
    We strive to help every school and college student progress smoothly through their educational years.
    Here, we provide a more detailed explanation about our company and the services we offer.
</p>

