@{
    ViewData["Title"] = "How It Works";
}

<div class="text-center">
    <h3>HOW TO ORDER A CUSTOM ESSAY FROM 123HELPME</h3>
</div>
    <p>
        If you are looking for help with a writing project and you come to 123HelpMe.org, you will receive professional assistance and an experience that is entirely free of stress.
        Our custom writing company is the best online source for getting any papers you need.
        If you do not always have time or the ability to complete your own papers on time, our writing service is a great option.
        When you are ready to buy a paper online, the first step is to start looking for a provider.
        Some students feel daunted and uncomfortable about buying papers online, especially if it is your first time using such a service.
        Consequently, our website is designed to be easy to navigate and intuitive to use. Ordering a paper is simple, convenient and secure.
        There are only a few steps to placing an order. Here’s how it works:
    </p>

    <p>
        <b>First Step</b>  – To place an order for an essay or research paper, fill out the online order form.
        We require some personal information about you, details about your requirements and your payment details.
        Make sure you complete all the mandatory fields.
    </p>
    <p>
        <b>Second Step</b> – We will assign a writer who is suitably qualified in your discipline to your project.
        Hence, you should not worry about the writer’s ability.
        That person will immediately begin an analysis of your requirements.
    </p>
    <p>
        <b>Third Step</b> – Your assigned writer will start the process of writing the required custom papers once full instructions and the agreed payment are received.
        You and your writer can communicate via our online messaging system should either one of you have any questions or concerns that need to be addressed.
    </p>
    <p>
        <b>Fourth Step</b> – Your essay will be delivered to you punctually via email. And, while we are working on it, you can enjoy your spare time as you see fit.
    </p>


