<h1>Blog</h1>
@{
    foreach (var item in Model.allNews)
    {
        <div class="col-6 col-sm-6 col-lg-4">
            <h2>Heading</h2>
            <p>
                Bootstrap is a front-end framework that uses CSS and JavaScript to facilitate responsive Web design. Bootply is a playground for Bootstrap that enables developers and designers to test, prototype and create mockups using Bootstrap
                friendly HTML, CSS and Javascript.
            </p>
            <p><a class="btn btn-default" href="#">View details »</a></p>
        </div>
    }
}


