<h1 class="text-center">Blog</h1>
@model List<NewsViewModel>

@{
    foreach (var item in Model)
    {
        <div class="col-md-5 blog-section">
            <article>
                <h5>@item.title</h5>
                <img class="blog-image" src="@item.img" />
                <p>
                    @item.prew
                </p>
                <p><a class="btn btn-default" asp-controller="Blog" asp-action="Post" asp-route-id="@item.id">View details »</a></p>
            </article>
        </div>
    }
}


