
@{
    ViewData["Title"] = "Post";
}

<div class="container post-block">
    <article>
        <h2 class="text-center">@Model.title</h2>
        @if (Model.img == null)
        {
            <img class="blog-image" src="~/img/default_image.jpg" />
        }
        else
        {
            <img class="post-image" src="~/img/@Model.img" />
        }
        <p>@Model.fulltext</p>
        <footer>
            Author - @Model.author
        </footer>
    </article>
</div>
<a class="btn btn-default" asp-controller="Blog" asp-action="Blog">Back to Blog</a>
